<h1>Beyond the Gridiron</h1>
<p>Welcome to the game. Please select a franchise to play.</p>
 
<table>
  <% @franchises.each do |franchise| %>
    <tr>
      <td><%= link_to "#{franchise.city} #{franchise.mascot}", franchise_path(franchise) %></td>
      <td><%= link_to 'Destroy', franchise_path(franchise),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create New Franchise', new_franchise_path %></p>