<h1>Play A Game</h1>

<% Franchise.all.each do |item| %>
  <ul>
    <% if item.id != @franchise.id %>
    <li><%= link_to "#{item.full_name}", play_game_franchise_path(opponent: item.id), method: :post %>
    <% end %>
  </ul>
<% end %>