<p>
  <strong>City:</strong>
  <%= @franchise.city %>
</p>
 
<p>
  <strong>Mascot:</strong>
  <%= @franchise.mascot %>
</p>

<table>
  <tr>
    <td>Use this Franchise</td>
  </tr>
  <tr>
    <td><%= link_to 'Edit this Franchise', edit_franchise_path(@franchise) %></td>
  </tr>
  <tr>
    <td><%= link_to 'Return to Franchise List', franchises_path %></td>
  </tr>
</table>