<h1><%= @coach.name %></h1>
<h2><%= @coach.role %></h2>

<p>Hire this Coach</p>
<p><%= link_to 'Edit this Coach', edit_franchise_coach_path(@franchise, @coach) %></p>
<p><%= link_to 'Return to Coach List', franchise_coaches_path(@franchise) %></p>
