<h1><%= @player.name %></h1>
<h2><%= @player.position %></h2>

<p>Sign this Player</p>
<p><%= link_to 'Edit this Player', edit_franchise_player_path(@franchise, @player) %></p>
<p><%= link_to 'Return to Player List', franchise_players_path(@franchise) %></p>
